<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/blog-custom.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <title>board</title>
  </head>
  <body class="bg-dark" style="height: 100%;">
    <nav class="navbar navbar-dark  border-bottom border-secondary">
      <div class="container-fluid">
          <a class="navbar-brand text-secondary" href="{{ url_for('main.home') }}">MyAIFriend</a>
          <button class="navbar-toggler border-secondary " type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if login %}
                <li class="nav-item row text-center">
                    <div class="nav-link col-6 border-bottom border-secondary text-light">Account</div>
                    <div class="nav-link col-6 border-bottom border-secondary text-light">Teacher's Bulletin Board</div>
                </li>
                <li class="nav-item row text-center">
                    <a class="nav-link col-6 " href="{{ url_for('info.myinfo') }}">Myinfo</a>
                    <a class="nav-link col-6"  href="{{ url_for('board.main') }}">Board</a>
                </li>
                <li class="nav-item row text-center">
                    <a class="nav-link col-6" href="{{ url_for('main.logout') }}">Logout</a>
                    <a class="nav-link col-6"  href="{{ url_for('board.write') }}">Write</a>
                </li>
                <li class="nav-item row text-center">
                    <div class="nav-link col-6"></div>
                    <a class="nav-link col-6 " href="{{ url_for('board.interests') }}">Interests</a>
                </li>
                {% else %}
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="{{ url_for('main.join') }}">Sign up</a>
                </li>
                <li class="nav-item align-self-center">
                    <a class="nav-link" href="{{ url_for('main.login') }}">Sign in</a>
                </li>
                {% endif %}
            </ul>
        </div>
      </div>
  </nav>

    <div class = "container mt-3">
      <h1 class="mb-5 text-secondary">Teacher's Bulletin Board</h1>
      <table class="table table-dark">
        <thead>
          <tr class="table-active">
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성일</th>
            <th>조회수</th>
          </tr> 
        </thead>
        <tbody>
        {% for post in posts %}
          {% set index = post.index | int %}
          <tr>
            <td>{{ index }}</td>
            <td><a href="{{ url_for('board.post', index=index)}}" >{{ post.title }} </a></td>
            <td>{{ post.name }}</td>
            <td>{{ post.date }}</td>
            <td>{{ post.view }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="col-9 col-md-9 col-lg-10">
          {{ pagination.links }}
        </div>
        <div class="col-3 col-md-3 col-lg-2">
          <a href="{{ url_for('board.write')}}" class="btn btn-secondary">글쓰기</a>
        </div>
      </div>
    </div>
  </body>
</html>