{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">

    </script>
</head>
<body class = "bg-dark text-center" style="height: 100%;">
<nav class="navbar navbar-dark  border-bottom border-secondary">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary" href="{{ url_for('main.home') }}">MyAIFriend</a>
        <button class="navbar-toggler border-secondary " type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {% if login %}
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="{{ url_for('info.myinfo') }}">myinfo</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="{{ url_for('main.logout') }}">Logout</a>
                    </li>

                    {% else %}
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="{{ url_for('main.join') }}">Sign up</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="{{ url_for('main.login') }}">Sign in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


    <div class = "container-fluid p-5 w-100" style="position: fixed; top:30%;">

        <h1 class="mb-5 text-secondary">MyAIFriend</h1>

        <form name="delete_form" method="POST" onSubmit="return false;">
            <div class=" col-5 col-xl-3 mb-1" style="float: none; margin: 0 auto">
            <div class="form-group">
                <h5 class="text-secondary">Input your password to delete account</h5>
                <input type="password" class="form-control col-5 col-xl-3" id="password" placeholder="Password" name="password" onkeypress="capLock(event)"/>
            </div>
            </div>

            <button onclick="deleteId()" class="btn btn-outline-secondary btn-lg col-5 col-xl-3">Delete</button>
            <div id="divMayus" class="text-secondary" style="visibility:hidden;font-size:10px;" >Caps Lock key is activated.</div>
        </form>
    </div>

<script>
    function capLock(e){
        kc = e.keyCode ? e.keyCode : e.which;
        sk = e.shiftKey ? e.shiftKey : ((kc == 16) ? true : false);
        if(((kc >= 65 && kc <= 90) && !sk)||((kc >= 97 && kc <= 122) && sk)){
            document.getElementById('divMayus').style.visibility = 'visible';
            document.getElementById('divMayus2').style.visibility = 'visible';
        }
        else{
            document.getElementById('divMayus').style.visibility = 'hidden';
            document.getElementById('divMayus2').style.visibility = 'hidden';
        }
    }
    function deleteId(){
            var form = document.delete_form;
            if(form.password.value == ""){
                alert("enter data");
            }
            else{
                form.submit();
            }
        }
</script>

</body>
</html>