{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[-1]}}")
        </script>
    {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="ko" style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <title>회원 가입</title>
</head>
<body class = "bg-dark text-secondary" style="height: 100%;">
    <nav class="navbar navbar-dark  border-bottom border-secondary">
        <div class="container-fluid">
            <a class="navbar-brand text-secondary" href="{{ url_for('main.home') }}">MyAIFriend</a>
            <button class="navbar-toggler border-secondary " type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item align-self-center">
                        <a class="nav-link " href="/join">Sign up</a>
                    </li>
                    <li class="nav-item align-self-center">
                        <a class="nav-link" href="/login">Sign in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class = "container">
        <div class="row mt-5">
            <h1>MyAIFriend</h1>
        </div>
        <div class="row mt-5">
        <div class="col-12">
            <form name="admin_form" method="POST" onSubmit="return false;">
                <div class="form-group">
                    <label for="userid">UserID</label>
                <div class="row">
                    <div class="col-10">
                        <input type="text" class="form-control" id="userid" placeholder="UserID" name="userid" maxlength="9"/>
                    </div>
                    <div class="col-2">
                        <p><input type = "button" class="form-control text-light bg-dark" onclick="check()" value="Check"></p>
                    </div>
                </div>
            </div>
                <div class="form-group mt-4">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="name" maxlength="4" onkeyup="onlykorean()"/>
                </div>
                <div class="form-group mt-5">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" maxlength="12" name="password" onkeyup="p_check()" onkeypress="capLock(event)"/>
                    <div id="divMayus3" class="text-secondary" style="visibility: visible; display: inline; font-size:10px;" >영어 소문자,특수문자,숫자 1글자 이상, 최소 8글자 </div>
                    <div id="divMayus" class="text-secondary" style="visibility: hidden; font-size:10px;" >Caps Lock key is activated.</div>
                </div>
                <div class="form-group mt-4">
                    <label for="password2">Confirm new Password</label>
                    <input type="password" class="form-control" id="password2" placeholder="Confirm new Password" name="password2" maxlength="12" onkeyup="p_check2()" onkeypress="capLock(event)" />
                    <div id="divMayus2" class="text-secondary" style="visibility:hidden; font-size:10px;" >Caps Lock key is activated.</div>
                </div>
                <div class="row mt-5">
                <p> Gender </p>
                <div class="col-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value = "Male" id="male" checked>
                    <label class="form-check-label" for="male">
                        Male
                    </label>
                </div>
                </div>

                <div class="col-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value = "Female" id="female">
                    <label class="form-check-label" for="female">
                        Female
                    </label>
                </div>
            </div>
            </div>
                <button onclick="admin()" class=" mt-5 btn btn-outline-secondary btn-lg col-5 col-xl-3">Admin</button>
            </form>
        </div>
        </div>

        <script>
            var id = false
            var name = false
            var pw = false
            var spw = false
            function capLock(e){
                kc = e.keyCode ? e.keyCode : e.which;
                sk = e.shiftKey ? e.shiftKey : ((kc == 16) ? true : false);
                if(((kc >= 65 && kc <= 90) && !sk)||((kc >= 97 && kc <= 122) && sk)){
                    document.getElementById('divMayus3').style.display="none";
                    document.getElementById('divMayus').style.visibility = 'visible';
                    document.getElementById('divMayus2').style.visibility = 'visible';
                }
                else{
                    document.getElementById('divMayus').style.visibility = 'hidden';
                    document.getElementById('divMayus2').style.visibility = 'hidden';
                    document.getElementById('divMayus3').style.display = "inline";
                }
                }

            function p_check(){
                var pattern = /^(?=.*?[a-zA-Z])(?=.*?[0-9])(?=.*?[#?!@$ %^&*-]).{8,}$/g;

                var value = document.getElementById('password').value;

                if (pattern.test(value)){
                    document.getElementById('password').style.color = "green";
                    document.getElementById('password').style.borderColor = "green";
                    pw = true
                }
                else{
                    if(!document.getElementById('password').value){
                        document.getElementById('password').style.color = "black";
                        document.getElementById('password').style.borderColor = "black";
                        pw = false
                    }
                    else{
                        document.getElementById('password').style.color = "red";
                        document.getElementById('password').style.borderColor = "red";
                        pw = false
                    }
                }
            }

            function p_check2(){
                var p1_value = document.getElementById('password').value;
                var p2_value = document.getElementById('password2').value;
                if(p1_value == p2_value){
                    document.getElementById('password2').style.color = "green";
                    document.getElementById('password2').style.borderColor = "green";
                    spw = true
                }
                else{
                    if(!document.getElementById('password2').value){
                        document.getElementById('password2').style.color = "black";
                        document.getElementById('password2').style.borderColor = "black";
                        spw = false
                    }
                    else{
                        document.getElementById('password2').style.color = "red";
                        document.getElementById('password2').style.borderColor = "red";
                        spw = false
                    }
                }
            }

            function onlykorean() {
                var pattern = /[ㄱ-ㅎ|ㅏ-ㅣ]|[a-z0-9]|[ \[\]{}()<>?|`~!@#$%^&*-_+=,.;:\"'\\]/g;
                var value = document.getElementById('username').value;
                if (pattern.test(value)) {
                    document.getElementById("username").style.color = "red";
                    document.getElementById("username").style.borderColor = "red";
                    name = false
                }
                else{
                    if(!document.getElementById("username").value){
                        document.getElementById("username").style.color = "black";
                        document.getElementById("username").style.borderColor = "black";
                        name = false
                    }
                    else{
                        document.getElementById("username").style.color = "green";
                        document.getElementById("username").style.borderColor = "green";
                        name = true
                    }
                }
            };

            function check(){
                var q = $('#userid').val();
                if (q){
                var postdata ={
                    "id" : q
                }
                var pattern = /^[a-z0-9]*$/;
                if (pattern.test(document.getElementById('userid').value))
                {
                    $.ajax({
                        type:'POST',
                        url:'/check',
                        async : true,
                        data: JSON.stringify(postdata),
                        dataType : 'JSON',
                        contentType: "application/json",
                        success: function(Check){
                            let secess = Check.result2['Check'];
                            if(secess){
                                alert("Sucess")
                                document.getElementById("userid").style.color = "green";
                                document.getElementById("userid").style.borderColor = "green";
                                document.getElementById("userid").readOnly = true;
                                id=true
                            }
                            else{
                                alert("Duplicate ID")
                                document.getElementById("userid").value = null
                            }
                        },
                    })
                }
                else{
                    alert("English lowercase and numbers only")
                    document.getElementById("userid").value = null
                }
            }
        }
        function admin(){
            var form = document.admin_form;
            console.log(pw)
            console.log(spw)
            console.log(id)
            console.log(name)

            if (id && name && pw && spw) {
                form.submit();
            }
            else{
                alert("Insufficient information")
            }
        }

            </script>

</body>
</html>